@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --Green-200: hsl(148, 38%, 91%);
  --Green-400: hsl(166, 59%, 48%);
  --Green-600: hsl(169, 82%, 27%);
  --Red: hsl(0, 66%, 54%);
  --White: hsl(0, 0%, 100%);
  --Grey-500: hsl(186, 15%, 59%);
  --Grey-900: hsl(187, 24%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
  color: var(--Grey-900);
}

.main-container {
  width: 100%;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--Green-200);

  .principal-container {
    width: 90%;
    height: auto;
    margin: auto;
    background-color: var(--White);
    border-radius: 20px;

    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .form-title {
        align-self: flex-start;
        margin-left: 5%;
        padding-top: 20px;
        color: var(--Grey-900);
      }
      .label {
        font-weight: 500;
        color: var(--Grey-900);

        .simbol-green {
          color: var(--Green-600);
        }
      }
      .form-names-container {
        width: 90%;
        display: flex;
        flex-direction: column;
      }

      .name-container,
      .lastName-container{
        width: 100%;
        height: 85px;
        padding-top: 20px;
      }
      .email-container{
        width: 90%;
        margin-top: 10px;
      }

      .input-text,
      .input-email {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        border: 1px solid var(--Green-600);
      }



      .input-text:focus,
      .input-email:focus {
        outline: none;
        border: 2px solid var(--Green-400);
      }

      .queryType-container {
        width: 90%;
        height: 200px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .queryType-options {
          display: flex;
          flex-direction: column;
          height: 180px;
          gap: 15px;

          .label-query {
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            padding-left: 15px;
            border-radius: 8px;
            font-size: 20px;
            border: 1px solid var(--Grey-500);

            &.focused {
              background-color: var(--Green-200);
              border: 2px solid var(--Green-400);
            }

            .input-query {
              width: 25px;
              height: 25px;
              border: 1px solid var(--Grey-900);
            }
          }
        }
      }
      .label-query:has(.input-query:checked) {
        background-color: var(--Green-200);
        border: 2px solid var(--Green-400);
      }

      .message-container {
        width: 90%;
        height: 200px;
        padding-top: 20px;
        margin: auto;

        .input-message {
          width: 100%;
          height: 100%;
          margin-top: 10px;
          border-radius: 10px;
          border: 1px solid var(--Grey-500);
        }
      }

      .consent-container {
        width: 95%;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 40px 0px;
        gap: 20px;

        .input-consent {
          width: 20px;
          height: 20px;
        }
      }

      .submit {
        width: 90%;
        height: 50px;
        color: white;
        border-radius: 10px;
        border: none;
        font-size: 19px;
        background-color: var(--Green-600);
        margin-bottom: 20px;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 700px) {
  .main-container {
    min-height: 100vh;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .principal-container {
      width: 50%;
      height: 90%;

      .form-container {
        .form-names-container {
          flex-direction: row;
          gap: 20px;

          .name-container,
          .lastName-container {
            width: 48%;
          }
        }

        .queryType-container {
          height: 130px;
          display: flex;
          flex-direction: column;

          .queryType-options {
            width: 100%;
            height: 90px;
            display: flex;
            flex-direction: row;
          }

          .label-query {
            border: 2px solid red;
          }
        }

        .message-container {
          height: 100px;
        }

        .consent-container {
          width: 90%;
          gap: 10px;
          justify-content: flex-start;
        }
      }
    }
  }
}
